
#affichage
{
    text-align: center;
    background-color: darksalmon;
    margin-top: 20px;
    margin-left: 20px;

}
.affichage2{
    margin-top: 40px;
    margin-left: 5px;
    text-align: left;
    background-color :thistle;
}
