#affichage
{
    text-align: center;
    background-color: darksalmon;
    margin-top: 20px;
    margin-left: 20px;

};
.affichage2{
    margin-top: 100px;
    text-align: center;
    margin-left: 100px;
    background-image: url("../images/confirmation.webp");
};
