
#affichage
{
    text-align: center;
    background-color: darksalmon;
    margin-top: 20px;
    margin-left: 20px;

}
#affichage2{
    margin-top: 50px;
    text-align: center;
    margin-left: 30px;
    background-color :thistle;
}
